*.a
*.app

*.d
*.db
*.dylib

*.exp

*.fbx

*.gch

*.ilk
*.iobj
*.ipdb

*.la
*.lai
*.lo

*.mod

*.o
*.obj
*.out

*.pch
*.pdb

*.slo
*.smod

*.tlog
*.tmp

/build/vs2015/.vs/*
/build/vs2015/Debug/*
/build/vs2015/Production/*
/build/vs2015/Release/*
/external/*
/bin32/plugins/*.lib
/bin64/plugins/*.lib
*.opendb
*.ipch
*.db-wal
*.db-shm
*.idb
*.log
*.suo
