# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
#*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app

*.pdb
*.ilk
*.iobj
*.ipdb
*.tmp

*.fbx
*.exp

*.db

/build/vs2015/.vs/*
/build/vs2015/Debug/*
/build/vs2015/Production/*
/build/vs2015/Release/*
/external/*